In [2]:
import os
import bs4
import urllib
from urllib import request
import pandas as pd

In [4]:
#Scrapping Pib/hab

url = "https://fr.wikipedia.org/wiki/Liste_des_pays_par_PIB_(PPA)_par_habitant"
    
request_text = request.urlopen(url).read()
page = bs4.BeautifulSoup(request_text, "html.parser")

# Get the sortable table 
table_new = page.find("table", {'class' : 'wikitable alternance'})
#print(table_new)

rows = table_new.find_all('tr')
d = dict()
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    if len(cols) > 0 : 
        d[cols[0]] = cols[1:]


df = pd.DataFrame.from_dict(d,orient='index')

for row in rows:
    cols = row.find_all('th')
    #print(cols)
    if len(cols) > 0 : 
        cols = [ele.get_text(separator=' ').strip().title() for ele in cols]
        columns_new= cols
columns_new
df.columns = columns_new[1:]

# We keep only the interesting columns
df=df.rename({'Pib Par Habitant [ A ]':'Pib Par Habitant'}, axis=1)

df.head()

   Pays Ou Territoire Pib Par Habitant
01              Qatar          124 927
02         Luxembourg          109 192
03          Singapour           90 531
04             Brunei           76 743
05            Irlande           72 632

In [11]:
#Scrapping IDH

url2 = "https://fr.wikipedia.org/wiki/Variations_de_l%27IDH_depuis_1990"
    
request_text2 = request.urlopen(url2).read()
page2 = bs4.BeautifulSoup(request_text2, "html.parser")

# Get the sortable table 
table_new2 = page2.find("table", {"class": "wikitable", "class": "sortable"})
#print(table_new2)

rows2 = table_new2.find_all('tr')
pays=[]
for row in rows2:
    cols2 = row.find_all('span' , {"class" : "datasortkey"})
    pays.append([span.get_text(separator=' ').strip().title() for span in cols2])
pays.pop(0)
pays = pd.DataFrame.from_dict(pays)

d2 = dict()
for row in rows2:
    cols2 = row.find_all('td')
    cols2 = [ele.text.strip() for ele in cols2]
    if len(cols2) > 0 : 
        d2[cols2[0]] = cols2[1:]
        
df2 = pd.DataFrame.from_dict(d2,orient='index')

df2.reset_index(inplace=True)
pays.columns=['Pays']
df2.columns=['1990', '1995', '2000', '2005', '2010', '2015', '2020', '2021']
df2=pays.join(df2)
df2.head()

        Pays   1990   1995   2000   2005   2010   2015   2020   2021
0     Suisse  0,851  0,865  0,887  0,905  0,942  0,954  0,956  0,962
1    Norvège  0,838  0,871  0,913  0,931  0,941  0,953  0,959  0,961
2    Islande  0,811  0,833  0,871  0,901  0,902  0,945  0,957  0,959
3  Hong Kong  0,788  0,825  0,851  0,879  0,907  0,935  0,949  0,952
4  Australie  0,865  0,882  0,896  0,911  0,923  0,933  0,947  0,951

In [129]:
#Scrapping number of inhabitants

url3 = "https://fr.wikipedia.org/wiki/Liste_des_pays_par_population"
    
request_text3 = request.urlopen(url3).read()
page3 = bs4.BeautifulSoup(request_text3, "html.parser")

# Get the sortable table 
table_new3 = page3.find("table", {"class": "wikitable", "class": "sortable", "class": "alternance"})

rows3 = table_new3.find_all('tr')

d3 = dict()
for row in rows3:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    if len(cols) > 0 : 
        d3[cols[0]] = cols[1:]

df3 = pd.DataFrame.from_dict(d3,orient='index')
df3.drop(labels='-', inplace=True)

df3.head()

               0              1              2
1       Chine[a]  1 425 893 465  1 425 493 416
2           Inde  1 407 563 842  1 435 228 798
3  États-Unis[b]    336 997 624    340 912 892
4      Indonésie    273 753 191    278 681 856
5       Pakistan    231 402 117    242 845 202